body 
{
 
   background-color: #FFFFFF;
}

h1 
{
  font-size:1.4em;
  color: #06657a;
}

a 
{
   color: #008000;
}

th 
{
  padding-right: 5px;
  text-align: left;
  background-color: #9fbd08;
  color: #eff7c3;
}

td
{
  padding-right: 5px;
  text-align: left;
  background-color: #eefab1;
  color: #5c6e05;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #f5f6fa;
}

.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}

.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;

	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
	background: rgb(7, 105, 185);
	height: 75px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
}

 

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}
#navigation 
{ float: left; width:100%; background: #333;}

#navigation ul 
{ margin:0; padding: 0; }

#navigation ul li 
{ list-style-type: none; display; inline; }

#navigation li a
{ display: block; float: left;
  padding: 5px 10px; color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover
{ background: #736F6E; }
#content-container
{ position: relative;
  float:left;
  width: 100%;
  background: #FFF repeat-y; }

#main
{ clear: right;
  float: right;
  width: 80%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline; 
}
#main h2 { margin: 0; }

#side
 {
  height:100%;
  width:300px;
  position: absolute;
  z-index: 1;
  top:25;
  right: 10;
  background-color: none;
  overflow-x:auto;
  padding-top:10px;
}
#side a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  
}
#side a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  #side {padding-top: 50px;}
  #side a {font-size: 18px;}
}


#box {
  border-radius: 25px;
  background-color: lightgrey;
  width:150px;
  border: 5px dotted black;
  padding: 25px;
  margin: 25px;
}

#column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


#row::after {
  content: "";
  clear: both;
  display: table;
}

#footer 
{ 
  clear: left;
  background: #ccc;
  text-align: right;
  padding:20px;
  height:5%;
}


.product {position: relative;
	  height: 120;
          width: 92; }
.image {display: block; width: 92; height: 120 }
.overlay {position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 120;
          width: 92;
          opacity: 0;
          transition .5s ease; }

.product:hover .overlay{ opacity: 1; }

#footer 
{ 
  clear: left;
  background: #ccc;
  text-align: right;
  padding:20px;
  height:5%;
}